<!doctype html>
<html lang="en">
  {{> head }}
<body>
  <div class="column"
    {{> header }}

    <div class="margin8">
      <p>
        <strong>
          Looking for the strength training app? It's moved to <a href="https://palastripe.com">palastripe.com</a>
        </strong>
      </p>
      <h2 class="headline">Stories about writing code, starting a side business, and lifting weights.</h2>

      {{#each articles}}
        <div class="article-link-block">
          <a href="/{{path}}/" >
            <h3>{{title}}</h3>
          </a>
          <time>{{date}}</time>
          <p>{{blurb}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</body>
</html>
